/*
	Base Styles
	Created on 11/25/2018 by Corey O'Brien.
*/

@import './fonts'; // core colors, paths
@import './variables'; // core colors, paths

/* ++++ HTML Tags ++++ */
html, #app {
    height: 100%;
}

body {
    background: darken($dark_blue, 5%);
    font-family: $base-font;
}

h1 {
    font-size: 2rem;
    font-family: $base-font-light;
    color: $white;
    letter-spacing: 0.0625rem;
}

h2 {
    font-family: $base-font-medium;
    font-size: 1.2rem;
}

h3 {
    font-size: 1.6rem;
    font-family: $base-font-medium;
    color: $green;
    text-align: left;
}

a {
    font-family: $base-font-bold;
    color: darken($sky_blue, 2%);
}

abbr[data-original-title], abbr[title] {
    border-bottom: 0.0625rem dotted $charcoal;
    text-decoration: none;
    line-height: 1.1rem;
    display: inline-block;
}

.text-muted {
    color: lighten($charcoal, 9%) !important;
}