.carousel {
	.carousel-inner {
		.carousel-item {
			.carousel-caption {
                position: relative;
                padding: 1.25rem;
                right: inherit;
                left: inherit;
                bottom: inherit;
				p {
					text-align: left;
                    &.contact-info,
                    &.implemented-info {
                        font-family: $base-font-light;
                        span {
                            font-family: $base-font-medium;
                            padding-left: 0.3125rem;
                            color: darken($light-gray, 30%);
                        }
                    }
                    &.implemented-info {
                        position: absolute;
                        right: 1rem;
                        bottom: 1.2rem;
                    }
				}
                .card-logo {
                    height: 3.125rem;
                    width: 3.125rem;
                    position: absolute;
                    top: 1.5rem;
                    right: 1rem;
                    background-size: contain;
                }
			}
		}
	}
    .carousel-indicators {
        li {
            &.active {
                background-color: $green;
            }
        }
    }
}