[submodule "dpatterns-vue"]
	path = dpatterns-vue
	url = /Users/coobrien/Dropbox/MyGits/dpatterns-vue
[submodule "dpatterns-angular"]
	path = dpatterns-angular
	url = /Users/coobrien/Dropbox/MyGits/dpatterns-angular
