<!-- TODO: Need to add the angular-2-data-table code to make this have the features. -->
<table class="{{styles}}" summary="{{summary}}" role="grid">
	<thead class="thead-light">
		<tr>
			<th role="col">Sample Heading 1</th>
			<th role="col">Sample Heading 2</th>
			<th role="col">Sample Heading 3</th>
			<th role="col">Sample Heading 4</th>
			<th role="col">Sample Heading 5</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th role="row">Sample Data Row Heading 1</th>
			<td>Sample Data</td>
			<td>Sample Data</td>
			<td>Sample Data</td>
			<td>Sample Data</td>
		</tr>
		<tr>
			<th role="row">Sample Data Row Heading 2</th>
			<td>Sample Data</td>
			<td>Sample Data</td>
			<td>Sample Data</td>
			<td>Sample Data</td>
		</tr>
		<tr>
			<th role="row">Sample Data Row Heading 3</th>
			<td>Sample Data</td>
			<td>Sample Data</td>
			<td>Sample Data</td>
			<td>Sample Data</td>
		</tr>
		<tr>
			<th role="row">Sample Data Row Heading 4</th>
			<td>Sample Data</td>
			<td>Sample Data</td>
			<td>Sample Data</td>
			<td>Sample Data</td>
		</tr>
		<tr>
			<th role="row">Sample Data Row Heading 5</th>
			<td>Sample Data</td>
			<td>Sample Data</td>
			<td>Sample Data</td>
			<td>Sample Data</td>
		</tr>
	</tbody>
</table>
